{% extends 'main/base.html' %}
{% block title %}
Create New List
{% endblock %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
	<h3>Create a new Question</h3>
	<br>
	<form method="post", action={% url 'polls:create' %} class="form-group">
		{% csrf_token %}
		<div class="input-group mb-3">
	  		<div class="input-group-prepend">
			  <button name="save", type="submit", class="btn btn-success">Create</button>
			  {{form.name}}
	  		</div>  
		</div>
	</form>
{% endblock %}