
{% extends "main/base.html" %}


{% block title %}
Question page
{% endblock %}

{% load static %}

<h1>{{ question.question_text }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% load crispy_forms_tags %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/radio-style.css' %}">
<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
<ul>
<div class="container">
    <h2>{{ question.question_text }}</h2>
    {% for choice in question.choice_set.all %}
    <li>
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
        <div class="check"></div>
    </li>
    {% endfor %}
    <input class="button button5" type="submit" value="Vote">
</div>
</ul>
{% endblock %}