{% extends "main/base.html" %}

{% block title %}
Poll page
{% endblock %}

{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
{% if alert %}
    //whatever conditions and js code
    alert('{{alert}}');
{% endif %}


{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

{% endblock %}
