{% extends "main/base.html" %}

{% block title %}
Poll page
{% endblock %}

{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/radio-style.css' %}">
<style>
    .card {
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      width: 80%;
      padding: 20px;
      border-radius: 15px;
      margin-bottom: 10px;
    }
    
    .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
</style>
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
{% if latest_question_list %}
    {% for question in latest_question_list %}
        <div class="card">
            <a href="{% url 'polls:detail' question.id %}" style="text-decoration: none;">
                {{ question.question_text }}</a>
        </div>
    {% endfor %}
{% else %}
    <p>No polls are available.</p>
{% endif %}

{% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert" id='message_container'>{{ message }}</div>
    {% endfor %}
{% endif %}
<script>
    var message_ele = document.getElementById("message_container");
    setTimeout(function(){ 
    message_ele.style.display = "none"; 
    }, 1000);
</script>
{% endblock %}
