{% extends 'main/base.html' %}

{% block title %}Option List{% endblock %}
 
{% block content %}
	<h2>{{ls.name}}</h2>
	<form method="post", action="#">
		{% csrf_token %}

		{% for item in ls.choice_set.all%}
			<div class="input-group mb-3">
	  			<input type="text" name="text{{item.id}}" value="{{item.choice_text}}" class="form-control" aria-label="Text input with checkbox">
			</div>
		{% endfor %}

		<div class="input-group mb-3">
	  		<div class="input-group-prepend">
	  		<button name="add", value="add", type="submit", class="btn btn-success">Add option</button>
	  		</div>
	  		<input type="text" name="new" value="" class="form-control">
	  		
		</div>
		<br>
		<button name="save", value="save", type="submit", class="btn btn-success">Save Question</button>
	</form>
{% endblock %}