li a {
    color: blue;
}

body {
    background: white url("images/background.jpg") no-repeat;
    background-size: cover;
}

ul {
    list-style-type: circle;
    list-style-position: outside;
    list-style-image: none;
  }