{% extends "main/base.html" %}

{% block title %}
Poll page
{% endblock %}

{% load static %} 

{% block content %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}"> -->


{% if ques %}
    <ul>
    {% for question in ques %}
        <h3>{{ question.question_text }}</h3>
        <h4>Posted by : {{ question.user_id}}</h4>
        {% for choice in question.choices %}
            <li>{{ choice.choice_text }} : {{ choice.votes }} vote{{ choice.votes|pluralize }}
                <hr width={{choice.perc}}% style="border: 5px solid #FF8A00 !important;
            border-radius: 5px !important;
            margin-left: 0;">
            </li>
        {% endfor %}
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

{% endblock %}
