{% extends "main/base.html" %}

{% block title %}
Poll page
{% endblock %}

{% load static %} 

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">


{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        {% if question.choice_set.all %}
            <h3>{{ question.question_text }}</h3>
            <h4>Posted by : {{ question.user_id}}</h4>
            {% for choice in question.choice_set.all %}
                <li>{{ choice.choice_text }} -> {{ choice.votes }} vote{{ choice.votes|pluralize }}</li>
            {% endfor %}
        {% endif %}
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

{% endblock %}
